table {
  table-layout: fixed; /* ทำให้ช่องไม่ขยายตามข้อความ */
  width: 100%;

}

td, th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  text-align: center;
  padding: 8px;
  background-color: #f0f0f0;
}

td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  max-width: 200px; /* ปรับตามต้องการ */
  text-align: center;
}
/* ซ่อน scrollbar */
.overflow-y-auto::-webkit-scrollbar {
  display: none; /* ซ่อน scrollbar */
}

/* ทำให้สามารถเลื่อนหน้าต่อได้ */
.overflow-y-auto {
  overflow-y: scroll; /* ให้ยังคงสามารถเลื่อนได้ */
}
