<
<body class="">
    <div class="bodybox flex justify-center items-center h-screen bg-[#ECE7E7]">
        <div class=" w-1/2 h-[698px]  rounded-xl shadow-lg bg-white text-black ">
            
            <div class=" w-[] h-[698px] justify-items-center justify-center p-5 ">
                <img src="../../assets/img/Login_logo.jpg" alt="" class="mb-7">
                <h2 class="text-3xl text-[#2784C2] mb-7">สร้างรหัสผ่าน</h2>

                <div class=" relative flex w-[574px]  ">
                    <img src="../../assets/img/password.png" alt="username icon" class="absolute top-1/2 transform -translate-y-6 left-3 w-7 h-7  ">
                    <input type="text"
                    placeholder="รหัสผ่าน "
                    class=" w-full h-16 pl-16 flex bg-[#ECE7E7] border-[1px] border-[#F0D9D9] rounded-xl mb-5  p-[10px]  " >
                </div>
                <div class=" relative flex w-[574px]  ">
                    <img src="../../assets/img/forgetpassword.png" alt="username icon" class="absolute top-1/2 transform -translate-y-6 left-3 w-7 h-7  ">
                    <input type="text"
                    placeholder="สร้างรหัส "
                    class=" w-full h-16 pl-16 flex bg-[#ECE7E7] border-[1px] border-[#F0D9D9] rounded-xl mb-5  p-[10px]  " >
                </div>
                <div class=" relative flex w-[574px]  ">
                    <img src="../../assets/img/forgetpassword.png" alt="username icon" class="absolute top-1/2 transform -translate-y-6 left-3 w-7 h-7  ">
                    <input type="text"
                    placeholder="ยืนยันรหัส "
                    class=" w-full h-16 pl-16 flex bg-[#ECE7E7] border-[1px] border-[#F0D9D9] rounded-xl mb-5  p-[10px]  " >
                </div>

                <button class="w-[154px] h-[57px] bg-[#2784C2] text-white font-medium py-2 px-4 rounded-md">ยืนยัน</button>
                 
            </div>
        </div>
       
    </div>
    

</body>
